.search-result-individual {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}
.search-result-individual img{
    width: 2rem;
}
.search-result-individual .name{
    font-size: 1rem;
    display: flex;
    gap: 0.3rem;
}
.search-result-individual .email{
    font-size: 0.7rem;
}

.search-result-individual:hover{
    background-color: var(--light-gray);
}